{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static '/css/post_detail.css' %}">
{% endblock css_files %}

{% block content %}
ddddddddd
    <article class="single-post">
        <div class="single-post-header">
            <h1>{{ post.title | title }}</h1>
            <div class="author-div">
                <div class="author-img">
                    {% comment %} აქ იქნება ავტორის ფოტო {% endcomment %}
                </div>
                <p>{{ post.author | title }}</p>
                <span>{{ post.create_date | date:"SHORT_DATE_FORMAT" }}</span>
            </div>
            <div class="categories">
                {% for category in post.category.all %}
                <p>{{ category }}</p>
                {% endfor %}
            </div>
        </div>
        
        <div class="single-post-body">
            <p>{{ post.text | safe }}</p>
        </div>
    </article>

{% endblock %}