{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static '/css/post_detail.css' %}">
{% endblock css_files %}

{% block content %}
<article class="single-post">
    <div class="single-post-header">
        <h1>{{ category.category_name | title }}</h1>
        <div class="author-div">
            <div class="author-img">
                <img src="{{ category.cat_image.url }}" style="height: 100%;" alt="პოსტის სურათი">
            </div>
            <p>{{ category.describtion | title }}</p>
        </div>
    </div>
</article>


<article class="single-post">
    <h3>
        Posts for this Category:
    </h3>

    <!-- <div class="categories"> -->

        <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Author</th>
                <th>Image</th>
              </tr>
            </thead>
            {% for post in category.post_set.all %}
            <tbody>
              <tr>
                <td>{% for category in post.category.all  %}
                    <a href="{% url 'blog:category' category.pk %}" style="color: brown;">{{ category }}</a>
                    {% endfor %}</td>
                <td><a href="{% url 'blog:post' post.pk %}">{{ post.title | title }}</a></td>
                <td>{{ post.author | title }}</td>
                <td>
                    <img src="{{ post.image.url }}" style="width: 100px" alt="პოსტის სურათი">
                </td>
              </tr>

            </tbody>
            {% endfor %}
          </table>


    </div>

    <div class="single-post-body">
        <p>{{ post.text | safe }}</p>
    </div>
</article>

{% endblock %}