{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static '/css/post_list.css' %}">
{% endblock css_files %}

{% block js_files %}
 <script src="{% static '/js/post_list.js' %} " defer></script> 
{% endblock js_files %}

{% block content %}

<h2>
    This is Post list Page!
</h2>
<!-- ქვევით არ ვიცი როგორ დავამატო. ასე ვცდილობ გაჩვენო რას გაწვდი ბექიდან. სამი პოსტია დამატებული და ამ სამს აჩვენებს -->
<!-- პოსტებიდან მარტო მე-3 პოსტის დეტალურ გვერდს ხსნის (/post/3/ ), ვერ გავიგე რატომ. /post/1/ და /post/2/ არ ხსნის -->
{{ posts }}
<ul>
    
    {% for post in posts %}
    
    <div style="width: 30%; float: left; padding: 40px;">
        <li>Author: {{ post.author }}</li>
        <li>First Name: {{ post.author.first_name }}</li>
        <li>Last Name: {{ post.author.last_name }}</li>
        <li><a href="{% url 'blog:post' post.pk %}">Title: {{ post.title }} - {{post.id}} - {{post.pk}} </a></li>
        <li>Description: {{ post.description }}</li>
        <li style="height: 100px; overflow: hidden;">Ttext: {{ post.text|safe }}</li>
        <li>Category: {{ post.category.all }}</li>
        <li>DATE: {{ post.create_date }}</li>
        <a href="{% url 'blog:post' pk=post.pk %}">
            <img src="{{ post.image.url }}" alt="Post image" style="height:320px;">
        </a>
        </div>
{% endfor %}
</ul>



<section class="posts-section container" x-data="{posts: [1,2,3,4,5,6,7,8,9,10,11,12]}">
        <template x-for="post in posts">
            <article class="post" >
                <div class="post-header">
                    <h2>Post Title</h2>
                    <div class="categories">
                        <p class="category">Categories</p>
                    </div>
                    <div class="post-author-div">
                        <div class="author-img"></div>
                        <p class="author-name">Author Name</p>
                    </div>
                </div>
                <div class="post-main-image-div"></div>
                <div class="post-content">
                    <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, accusantium eligendi eum tenetur, eius quis delectus quaerat odio voluptas eaque, beatae deserunt necessitatibus ut architecto incidunt provident amet quos nesciunt.</p>
                </div>
            </article>
        </template>
</section>

{% comment %} {% if list %}
<ul>
    {% for item in list %}
    <li>
    <a href="">
        {{ item }} - 
    </a>
    </li>
    {% empty %}
    <li>
        No Items!
    </li>
    {% endfor %}
    {% endif %}
</ul> {% endcomment %}


{% endblock %}